@section header
{
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/main.css")" media="all" />
}
<blockquote class="layui-elem-quote layui-bg-green">
    <div id="nowTime" class="layui-col-md10"></div>
    <div id="lastLoginTime">上次登录时间：2019年5月29日 13:22:33</div>
</blockquote>
<div class="panel_box row">
    <div class="panel col">
        <a href="javascript:;" data-url="/orgmanager/index">
            <div class="panel_icon">
                <i class="layui-icon" data-icon="&#xe63a;">&#xe63a;</i>
            </div>
            <div class="panel_word orgs">
                <span></span>
                <cite>待查看消息</cite>
            </div>
        </a>
    </div>
    <div class="panel col">
        <a href="javascript:;" data-url="/UserManager/Index">
            <div class="panel_icon" style="background-color:#009688;">
                <i class="layui-icon" data-icon="&#xe613;">&#xe613;</i>
            </div>
            <div class="panel_word userAll">
                <span></span>
                <cite>当前在线用户</cite>
            </div>
        </a>
    </div>
    <div class="panel col">
        <a href="javascript:;" data-url="/Rolemanager/index">
            <div class="panel_icon" style="background-color:#FF5722;">
                <i class="iconfont icon-text" data-icon="icon-text"></i>
            </div>
            <div class="panel_word roles">
                <span></span>
                <cite>今日成交报价</cite>
            </div>
        </a>
    </div>
    <div class="panel col">
        <a href="javascript:;" data-url="/forms/index">
            <div class="panel_icon" style="background-color:#5FB878;">
                <i class="layui-icon" data-icon="&#xe65e;">&#xe65e;</i>
            </div>
            <div class="panel_word forms">
                <span></span>
                <cite>今日成交金额</cite>
            </div>
        </a>
    </div>
    <div class="panel col">
        <a href="javascript:;" data-url="/flowinstances/index">
            <div class="panel_icon" style="background-color:#F7B824;">
                <i class="iconfont icon-wenben" data-icon="icon-wenben"></i>
            </div>
            <div class="panel_word flows">
                <span></span>
                <cite>今日证书数量</cite>
            </div>
        </a>
    </div>
    <div class="panel col max_panel">
        <a href="javascript:;" data-url="/flowschemes/index">
            <div class="panel_icon" style="background-color:#2F4056;">
                <i class="layui-icon" data-icon="&#xe65e;">&#xe65e;</i>
            </div>
            <div class="panel_word flowschemes">
                <span></span>
                <cite>今日收款金额</cite>
            </div>
        </a>
    </div>
</div>
<blockquote class="layui-elem-quote explain">
    @*<p>官方博客：<a href="http://www.cnblogs.com/yubaolee/">http://www.cnblogs.com/yubaolee/</a> </p>
        <p>
            系统默认System账号登录，可以查看所有权限，如果用其他账号（如：admin/test）可以查看相应的授权情况。
            数据库密码明文存储，不要问为什么不加密，因为你要问这些账号的密码我也记不住啊O(∩_∩)O
        </p>
        <p>
            <span style="color: #1E9FFF;">郑重提示：为安全起见，关闭了所有修改请求，如想体验完整功能可搭建本地环境，并将version置为空字符串</span>
        </p>
        <p>
            <a href="https://git.oschina.net/yubaolee/OpenAuth.Net" target="_blank" class="layui-btn layui-btn-xs layui-btn-danger">项目地址</a>
            <a class="layui-btn layui-btn-xs" target="_blank" href="https://www.w3cschool.cn/openauthdotnet/e8931tly.html">在线文档</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger" target="_blank" href="http://git.oschina.net/yubaolee/OpenAuth.Net/stargazers">喜欢就Star一下吧</a>
            <span style="color: #f00;">注：【本框架遵循LGPL开源协议，企业单位如商用请联系作者授权，谢谢】</span>
        </p>
        <p>技术交流QQ群：484498493【已满】 &nbsp; &nbsp; 626433139【已满】 &nbsp;&nbsp; 566344079</p>*@
</blockquote>

<div class="row">
    <div class="sysNotice col">
        <blockquote class="layui-elem-quote title">系统更新日志</blockquote>
        <div class="layui-elem-quote layui-quote-nm">
            <h3 style="color:orangered">当前版本：v1.0</h3>
            <p>* 2019年3月21更新版本：v0.8；版本说明：角色管理上线</p>
            <p>* 2019年3月20更新版本：v0.7；版本说明：test</p>
            <p>* 2019年3月19更新版本：v0.6；版本说明：test</p>
            <p>* 2019年3月18更新版本：v0.5；版本说明：test</p>
            <p>* 2019年3月17更新版本：v0.4；版本说明：test</p>
            <p>* 2019年3月16更新版本：v0.3；版本说明：test</p>
            <p>* 2019年3月15更新版本：v0.2；版本说明：test</p>
            <p>* 2019年3月10更新版本：v0.1；版本说明：正式上线啦</p>
        </div>
    </div>
    <div class="sysNotice col">
        <blockquote class="layui-elem-quote title">系统基本参数</blockquote>
        <table class="layui-table">
            <colgroup>
                <col width="150">
                <col>
            </colgroup>
            <tbody>
                <tr>
                    <td>当前版本</td>
                    <td class="version"></td>
                </tr>
                <tr>
                    <td>开发作者</td>
                    <td class="author"></td>
                </tr>
                <tr>
                    <td>网站首页</td>
                    <td class="homePage"></td>
                </tr>
                <tr>
                    <td>服务器环境</td>
                    <td class="server"></td>
                </tr>
                <tr>
                    <td>数据库版本</td>
                    <td class="dataBase"></td>
                </tr>
                <tr>
                    <td>最大上传限制</td>
                    <td class="maxUpload"></td>
                </tr>
                <tr>
                    <td>当前用户权限</td>
                    <td class="userRights"></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<script type="text/javascript" src="@Url.Content("~/Scripts/layui/layui.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/main.js")"></script>
